
<body style="margin-top: 90px">
<header>
  <div class="h_main h_main_pad">
    <div class="logo">
      <a href="index.html">
        <h1>aquarius</h1>
        <span>tropical fish for sale</span>
      </a>
    </div>
  </div>
</header>

<!--=======content================================-->
<div id="content" class="container overlay-container">
  <div class="container_16 bg1">
    <div class="grid_14 prefix_1">
      <div class="center">
        <p class="b_text1">Những loại cá hot ở shop </p>
        <p class="b_text2">Hãy nhanh tay đặt hàng</p>
        <div class="img_line" style="background: url(../../assets/images/images/img_line.png) 0 0 repeat-x"></div>
        <div class="img_line" style="background: url(../../assets/images/images/img_line.png) 0 0 repeat-x"></div>
        <p class="b_text3">Đây là những loại cá nước mặn mà shop tôi hiện có, các bạn có thể xem ở danh sách bên dưới.</p>
        <h1>Danh sách cá nước mặn</h1>
        <div class="pic">
          <a href="../../assets/images/images/page1_img1-q.jpg" class="magnifier"><img alt="" src="../../assets/images/images/page1_img1.jpg" /></a>
          <a href="../../assets/images/images/page1_img2-q.jpg" class="magnifier"><img alt="" src="../../assets/images/images/page1_img2.jpg" /></a>
          <a href="../../assets/images/images/page1_img3-q.jpg" class="magnifier"><img alt="" src="../../assets/images/images/page1_img3.jpg" /></a>
          <a href="../../assets/images/images/page1_img4-q.jpg" class="magnifier"><img alt="" src="../../assets/images/images/page1_img4.jpg" /></a>
        </div>
        <div class="pic ">
          <a href="../day2/image/images/page1_img5-q.jpg" class="magnifier"><img alt="" src="../day2/image/images/page1_img5.jpg" /></a>
          <a href="../day2/image/images/page1_img6-q.jpg" class="magnifier"><img alt="" src="../day2/image/images/page1_img6.jpg" /></a>
          <a href="../day2/image/images/page1_img7-q.jpg" class="magnifier"><img alt="" src="../day2/image/images/page1_img7.jpg" /></a>
          <a href="../day2/image/images/page1_img8-q.jpg" class="magnifier"><img alt="" src="../day2/image/images/page1_img8.jpg" /></a>
        </div>
        <a class="button1" href="#">view all</a>
      </div>
    </div>
  </div>


  <div class="img_line" style="background: url(../../assets/images/images/img_line.png) 0 0 repeat-x"></div>
  <div class="img_line" style="background: url(../../assets/images/images/img_line.png) 0 0 repeat-x"></div>
  <div class="img_line" style="background: url(../../assets/images/images/img_line.png) 0 0 repeat-x"></div>
</div>
<!--=======footer=================================-->
</body>
