<header class="index">
  <div class="py-3 fixed-top"
       style=" background-color: rgba(255, 255, 255, 0.9) !important; border-bottom: dashed 1px aqua">
    <div>
      <div class="row">
        <div class="col-md-2 " style="padding-left: 8%; margin: 0; ">
          <img src="../../assets/images/logo_web-removebg-preview.png" alt="đây là logo"
               class="img-fluid" style="width: 100%; height: 80%">
        </div>
        <div class="col-md-6" style="padding: 0">
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigat  ion">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class=" " id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="" style="font-size: 17px;font-weight: bold; margin: 0">
                      Trang chủ</a></li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarBaiViet" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false"
                       style="font-size: 17px;font-weight: bold; margin: 0">
                      Bài viết
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarBaiViet">
                      <li><a class="dropdown-item" href="#"><strong>Tin tức</strong></a></li>
                      <li><a class="dropdown-item" href="#"><strong>Lời khuyên</strong></a></li>
                    </ul>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarKhuyenMai" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false"
                       style="font-size: 17px;font-weight: bold; margin: 0">
                      Khuyến mãi
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarKhuyenMai">
                      <li><a class="dropdown-item" href="#"><strong>Giảm giá</strong> </a></li>
                      <li><a class="dropdown-item" href="#"><strong>Tặng kèm</strong></a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarChamSocCa" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false"
                       style="font-size: 17px;font-weight: bold; margin: 0">
                      Chăm sóc cá
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarChamSocCa">
                      <li><a class="dropdown-item" href="#"><strong>Dưỡng cá</strong></a></li>
                      <li><a class="dropdown-item" href="#"><strong>Trị bệnh</strong></a></li>
                    </ul>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="#"
                                          style="font-size: 17px;font-weight: bold; margin: 0">Liên hệ</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <div class="col-md-4 py-2" style="font-size: 13px">
          <div class="row">
            <div class="col-md-4">
              <div id="body" [hidden]="!isLoggedIn">
                <form action="" class="search-box d-flex justify-content-end ps-4">
                  <input id="search-text" [(ngModel)]="searchInput" type="text" placeholder="Tìm kiếm sản phẩm" required
                         (keyup.enter)="onSearch()" [ngModelOptions]="{standalone: true}">
                  <button (click)="onSearch()" id="search-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-search"
                         viewBox="0 0 16 16">
                      <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                  </button>
                </form>
              </div>
            </div>

            <div class="col-md-4" style="float: left;padding: 0 10px;margin-left: 5px">
              <div class="nav-item">
                <div class="" [hidden]="isLoggedIn" style="text-align: center;">
                  <a routerLink="/login"><img src="../../assets/images/login-icon.png" class="img-fluid"
                                              style="width: 30px" (click)="scrollToTopLogin()"></a>
                </div>
                <div class="dropdownUser" [hidden]="!isLoggedIn">
                  <div class="row">
                    <div class="col-3 text-danger fs-3">
                      <i class="fa-regular fa-user"></i>
                    </div>
                    <div class="col-9" style="padding: 0 0 0 15px">
                      Xin chào!<br>
                      <div><span style="color: #eb5d1e"><b>{{username}}</b></span></div>
                    </div>
                  </div>
                  <ul class="dropdown-content p-0 dropdown-menu" style="border-radius: 10px">
                    <li style="border-radius: 10px" class="getstarted dropdown-item"
                        routerLink="/login/change"><a class="btn"><strong>Đổi mật khẩu</strong></a></li>
                    <li style="border-radius: 10px" class="getstarted dropdown-item"><a (click)="logOut()"
                                                                                        class="btn"><strong>Đăng
                      xuất</strong></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-3" style="padding: 0">
              <a class="position-relative" routerLink="/shopping" (click)="scrollToTopLogin()">
                <span class="fs-2"><i class="fa-solid fa-cart-plus"></i></span>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">1+
                    <span class="visually-hidden">unread messages</span>
                  </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>




