<body id="form">
<div class="container"  style="margin-top: 70px">
  <div class="form-container sign-in-container">
    <form [formGroup]="formChangePassword" (ngSubmit)="onSubmit()">
      <h1>Đổi mật khẩu</h1>
      <span>Mời nhập thông tin </span>
      <br>
      <input type="email" formControlName="username" class="login-input" placeholder="Tài khoản"/>
      <input type="password" formControlName="password" class="login-input" placeholder="Nhập mật khẩu cũ"/>
      <input type="password" formControlName="newPassword" class="login-input" placeholder="Mật khẩu mới"/>
      <input type="password" formControlName="confirmNewPassword" class="login-input" placeholder="Nhập lại mật khẩu mới"/>
      <a href="#">Quên mật khẩu?</a>
      <button type="submit">Thay đổi</button>
      <div class="social-container">
        <a href="#" class="social"><i style="background: #3B5998;color: white;"
                                      class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i style="background: #FF4B2B; color: white"
                                      class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i style="background: white; color: bisque"
                                      class="fab fa-linkedin-in"></i></a>
      </div>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Chào mừng bạn!</h1>
        <p></p>
<!--        <button (click)="onSignInClick()">Đăng nhập</button>-->
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Xin chào!</h1>
        <h2>Bạn muốn thay đổi mật khẩu?! </h2>
        <p>Vui lòng điền đầy đủ thông tin nhé! </p>
<!--        <button (click)="onSignUpClick()">Đăng kí</button>-->
      </div>
    </div>
  </div>
</div>
</body>
