<h2 style="text-align: center ; color: #0dcaf0">Add Customer</h2>
<div class="row">
  <div class="col-md-4"></div>
  <div id="form" class="col-md-6">
    <form [formGroup]="reactiveForm" (ngSubmit)="create()">
      <div class="col-md-6">
        <label class="form-label">Name: </label>
        <label>
          <input type="text" name="idCard" class="form-control" placeholder="Name" formControlName="name"/>
        </label>
        <p style="color: red" *ngIf="reactiveForm.controls.name.touched && reactiveForm.controls.name.hasError('required')">*Bắt buộc
          nhập</p>
      </div>

      <div class="col-md-6">
        <label class="form-label">Date Of Birth: </label>
        <label>
          <input type="date" name="idCard" class="form-control" placeholder="Day of birth"
                 formControlName="dateOfBirth"/>
        </label>
        <p style="color: red" *ngIf="reactiveForm.controls.dateOfBirth.touched && reactiveForm.controls.dateOfBirth.hasError('required')">*Bắt buộc
          nhập</p>
      </div>
      <div class="col-md-6">
        <label class="form-label">Gender:</label>
        <br>
        <div class="form-check form-check-inline col-md-3">
          <label>
            <input type="radio" class="form-check-input" formControlName="gender" [value]="1" checked>
          </label>
          <label class="form-check-label">Male</label>
        </div>
        <div class="form-check form-check-inline col-md-3">
          <label>
            <input type="radio" class="form-check-input" formControlName="gender" [value]="2">
          </label>
          <label class="form-check-label">Female</label>
        </div>
        <div class="form-check form-check-inline col-md-3">
          <label>
            <input type="radio" class="form-check-input" formControlName="gender" [value]="3">
          </label>
          <label class="form-check-label">other</label>
        </div>
      </div>

      <div class="col-md-6">
        <label class="form-label">ID Card:</label>
        <label>
          <input type="text" name="idCard" class="form-control" placeholder="ID Card" formControlName="idCard"/>
        </label>
        <p style="color: red" *ngIf="reactiveForm.controls.idCard.touched && reactiveForm.controls.idCard.hasError('required')">*Bắt buộc
          nhập</p>
      </div>

      <div class="col-md-6">
        <label class="form-label">Phone Number:</label>
        <label>
          <input type="text" name="idCard" class="form-control" placeholder="Phone number"
                 formControlName="phoneNumber"/>
        </label>
        <p style="color: red" *ngIf="reactiveForm.controls.phoneNumber.touched && reactiveForm.controls.phoneNumber.hasError('required')">*Bắt buộc
          nhập</p>

      </div>

      <div class="col-md-6">
        <label class="form-label">Email:</label>
        <label>
          <input type="text" name="idCard" class="form-control" placeholder="Email" formControlName="email"/>
        </label>
        <p style="color: red" *ngIf="reactiveForm.controls.email.touched && reactiveForm.controls.email.hasError('required')">*Bắt buộc
          nhập</p>
        <p style="color: red" *ngIf="reactiveForm.controls.email.touched && reactiveForm.controls.email.hasError('email')">*Mời nhập đúng định dạng</p>
      </div>

      <div class="col-md-6">
        <label class="form-label">Address:</label>
        <label>
          <input type="text" name="idCard" class="form-control" placeholder="Address" formControlName="address"/>
        </label>
        <p style="color: red" *ngIf="reactiveForm.controls.address.touched && reactiveForm.controls.address.hasError('required')">*Bắt buộc
          nhập</p>
      </div>
      <div class="col-md-6">
        <label class="form-label">Customer Type:</label>
        <label>
          <select class="form-select" formControlName="customerType">
            <option [selected]="true" [value]="null">--Please Choose customerType--</option>
            <option *ngFor="let customerType of customerType" [ngValue]="customerType">{{customerType.name}}</option>
          </select>
        </label>
        <p style="color: red" *ngIf="reactiveForm.controls.customerType.touched && reactiveForm.controls.customerType.hasError('required')">*Bắt buộc
          nhập</p>
      </div>
      <br>
      <input [disabled]="reactiveForm.invalid" type="submit" class="btn btn-outline-primary" value="Save"/>
    </form>
  </div>
  <div class="col-md-2"></div>
</div>
