<body>
<div class="container" #container>
  <div class="form-container sign-up-container">
    <form action="#">
      <h1>Đăng kí</h1>
      <span>Mời nhập thông tin đăng kí</span>
      <input type="text" placeholder="Tài khoản"/>
      <input type="password" placeholder="Mật khẩu"/>
      <input type="password" placeholder="Nhập lại mật khẩu"/>
      <br>
      <button>Đăng kí</button>
      <div class="social-container">
        <a href="#" class="social"><i style="background: #3B5998;color: white;"
                                      class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i style="background: #FF4B2B; color: white"
                                      class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i style="background: white; color: bisque"
                                      class="fab fa-linkedin-in"></i></a>
      </div>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <h1>Đăng nhập</h1>
      <span>Mời nhập thông tin đăng nhập</span>
      <input type="email" formControlName="username" class="login-input" placeholder="Tài khoản"/>
      <input type="password" formControlName="password" class="login-input" placeholder="Mật khẩu"/>
      <a href="#">Quên mật khẩu?</a>
      <button>Đăng nhập</button>
      <div class="social-container">
        <a href="#" class="social"><i style="background: #3B5998;color: white;"
                                      class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i style="background: #FF4B2B; color: white"
                                      class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i style="background: white; color: bisque"
                                      class="fab fa-linkedin-in"></i></a>
      </div>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Chào mừng bạn!</h1>
        <p></p>
        <button (click)="onSignInClick()">Đăng nhập</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Xin chào!</h1>
        <h1>Chúc bạn có một ngày tốt lành! </h1>
        <p>Nếu bạn chưa có tài khoản thì ấn vào bên dưới nhé! </p>
        <button (click)="onSignUpClick()">Đăng kí</button>
      </div>
    </div>
  </div>
</div>
</body>
