/****Form****/

.boxed_form #form {
	padding-top: 0px;
	position:relative;
}

.boxed_form #form p { padding-bottom:3px;}

.boxed_form #form input {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #b2b2b2;
	display:block;
    font-family:'Open Sans', sans-serif;
    font-size: 13px; 
    line-height: 35px;
    color:#999999; 
    font-weight: 400;
    padding-left: 10px;
    width: 460px;
	height: 40px;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.57);
	
}

.boxed_form #form textarea {
	-moz-box-sizing: border-box;
	box-sizing:border-box;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #b2b2b2;
    font-family:'Open Sans', sans-serif;
    font-size: 13px; 
    line-height: 20px;
    color:#999999;  
    font-weight: 400;
    height: 174px;
    margin: 0;
    overflow: hidden;
    padding: 5px 10px 8px;
    position: relative;
    resize: none;
    width: 100%;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.57);
}

.boxed_form #form label {
	display: block;
	min-height: 60px;
	width: 100%;
	position: relative;
}

.boxed_form #form .error,.boxed_form  #form .empty {
	color: #FF0000;
	display: none;
	font-size: 11px;
	line-height:14px;
	width:auto;
	position: absolute;
	z-index: 999;
	right: 370px;
	top:7px;
}

.message .error,.message .empty {
    position: absolute;
    z-index: 999;
    right: 5px !important;
}

.boxed_form #form .error-empty {
	display:none;
	float:left;

}

.boxed_form .btn {
	padding: 35px 0px 0 0;
	cursor:pointer;
	float:right;
}
 
.boxed_form .clear_btn {
	margin-right:25px;
	}


.content .btn a:first-child {
	margin-left: 0 !important;
}

.boxed_form #form .message {
	width: 100%;
}

label span {
	font-family: 'Ubuntu', sans-serif;
	font-size:13px;
	line-height:22px;
	color:#83868a;
	font-weight:400;
}

.message br {
	height: 0;
	line-height: 0;
}

.boxed_form #form .success {
	display: none;
	position: absolute;
	width: 465px;
	border: 1px solid #e1e7eb;
  	background: #fff;
	text-align: center;
	padding: 65px 10px;
	left:-2px;
	top:0px;
	z-index: 999;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
}


@media only screen and (max-width: 995px) {


.boxed_form #form label {
	float: none !important;	
	width: 100%;
	position:relative;
	display:block;
}

.boxed_form #form input {
	margin-bottom: 10px;
}

.boxed_form #form .error, #form .empty { font-size:10px;}

 .boxed_form #form .error,.boxed_form  #form .empty {
    right: 205px;
 } 

.boxed_form #form label.message {
	width: 100% !important;
}

.boxed_form .btn {
	padding-right: 0;
}

.boxed_form #form label.email {
	width: 100%;
	margin: 0;
}

}

@media only screen and (max-width: 767px) {
.boxed_form #form input {
    width: 100%;
}

  .map {
	margin-bottom: 25px;
}
  .btn {
		padding-bottom: 0;  
  }
.boxed_form #form .error,.boxed_form  #form .empty {
    right: 5px;
 } 
.boxed_form #form .success {width: 425px;}

.boxed_form #form .error, .boxed_form #form .empty { font-size:11px;}
 
.boxed_form #form textarea {
		height: 250px !important;  
  }
  
}
@media only screen and (max-width: 479px) {
 
 .boxed_form #form .success {
	width: 305px;
}

 
.boxed_form #form textarea {
		height: 200px !important;  
		
  }
}