<h1 style="text-align: center ; color: #0dcaf0">Chỉnh sửa thông tin xe</h1>
<br>
<div class="row">
  <div class="col-md-4"></div>
  <div id="form" class="col-md-6">
    <form [formGroup]="formSua" (ngSubmit)="sua()">
      <input type="hidden" formControlName="id">
      <div class="col-md-6">
        <label class="form-label">Số xe : </label>
        <label>
          <input readonly type="text"  class="form-control" formControlName="soXe" placeholder="Nhập số xe"/>
        </label>
        <p style="color: red" *ngIf="formSua.controls.soXe.hasError('required') && formSua.controls.soXe.touched">*Không được để trống</p>
      </div>
      <br>
      <div class="col-md-6">
        <label class="form-label">Loại xe :</label>
        <label>
          <select class="form-select" formControlName="loaiXe" [compareWith]="compare">
            <option *ngFor="let loaiXe of danhSachLoaiXe" [ngValue]="loaiXe">{{loaiXe?.ten}}</option>
          </select>
        </label>
        <p style="color: red" *ngIf="formSua.controls.diemDi.hasError('required') && formSua.controls.diemDi.touched">*Không được để trống</p>
      </div>
      <br>
      <div class="col-md-6">
        <label class="form-label">Tên nhà xe: </label>
        <label>
          <input type="text"  class="form-control" formControlName="tenNhaXe" placeholder="Nhập tên nhà xe"/>
        </label>
        <p style="color: red" *ngIf="formSua.controls.tenNhaXe.hasError('required') && formSua.controls.tenNhaXe.touched">*Không được để trống</p>
      </div>
      <br>
      <div class="col-md-6">
        <label class="form-label">Điểm đi :</label>
        <label>
          <select class="form-select" formControlName="diemDi" [compareWith]="compare">
            <option *ngFor="let diemDi of danhSachDiemDen" [ngValue]="diemDi">{{diemDi?.ten}}</option>
          </select>
        </label>
        <p style="color: red" *ngIf="formSua.controls.diemDi.hasError('required') && formSua.controls.diemDi.touched">*Không được để trống</p>
      </div>
      <br>
      <div class="col-md-6">
        <label class="form-label">Điểm đến :</label>
        <label>
          <select class="form-select" formControlName="diemDen" [compareWith]="compare">
            <option *ngFor="let diemDen of danhSachDiemDen" [ngValue]="diemDen">{{diemDen?.ten}}</option>
          </select>
        </label>
        <p style="color: red" *ngIf="formSua.controls.diemDen.hasError('required') && formSua.controls.diemDen.touched">*Không được để trống</p>
      </div>
      <br>
      <div class="col-md-6">
        <label class="form-label">Số điện thoại : </label>
        <label>
          <input type="text"  class="form-control" formControlName="soDienThoai" placeholder="Nhập số điện thoại"/>
        </label>
        <p style="color: red" *ngIf="formSua.controls.soDienThoai.hasError('required') && formSua.controls.soDienThoai.touched">*Không được để trống</p>
        <p style="color: red" *ngIf="formSua.controls.soDienThoai.hasError('pattern') && formSua.controls.soDienThoai.touched">*Mời nhập SDT có 3 số đầu: 093 hoặc 097 hoặc 090 </p>
      </div>
      <br>

      <div class="col-md-6">
        <label class="form-label">Email : </label>
        <label>
          <input type="text"  class="form-control" formControlName="email" placeholder="Nhập email"/>
        </label>
        <p style="color: red" *ngIf="formSua.controls.email.hasError('required') && formSua.controls.email.touched">*Không được để trống</p>
        <p style="color: red" *ngIf="formSua.controls.email.hasError('email') && formSua.controls.email.touched">*Vui lòng nhập đúng định dạng email</p>
      </div>
      <br>
      <div class="col-md-6">
        <label class="form-label">Giờ đi : </label>
        <label>
          <input type="text"  class="form-control" formControlName="gioDi" placeholder="Nhập email"/>
        </label>
        <p style="color: red" *ngIf="formSua.controls.gioDi.hasError('required') && formSua.controls.gioDi.touched">*Không được để trống</p>
      </div>
      <br>
      <div class="col-md-6">
        <label class="form-label">Giờ đến : </label>
        <label>
          <input type="text"  class="form-control" formControlName="gioDen" placeholder="Nhập email"/>
        </label>
        <p style="color: red" *ngIf="formSua.controls.gioDen.hasError('required') && formSua.controls.gioDen.touched">*Không được để trống</p>
      </div>
      <br>
      <input class="btn btn-outline-primary" type="button" routerLink="/" value="Trở về danh sách">
      <input style="margin-left: 20px" type="submit" class="btn btn-outline-primary" value="Thay đổi"/>
    </form>
  </div>
  <div class="col-md-2"></div>
</div>
