<header >
  <div class="py-3 fixed-top" style="background: white; border-bottom: dashed 1px aqua" >
    <div>
      <div class="row">
        <div class="col-md-2 " style="padding-left: 8%; margin: 0; ">
          <img src="https://th.bing.com/th/id/OIP.L56gnH0_Km4wV-XEHiW4ewAAAA?pid=ImgDet&rs=1" alt="đây là logo" class="img-fluid" style="width: 100%; height: 80%">
        </div>
        <div class="col-md-6" style="padding: 0">
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class=" " id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="" style="font-size: 17px;font-weight: bold; margin: 0">
                      Trang chủ</a></li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarBaiViet" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 17px;font-weight: bold; margin: 0">
                      Bài viết
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarBaiViet" >
                      <li><a class="dropdown-item" href="#">Tin tức</a></li>
                      <li><a class="dropdown-item" href="#">Lời khuyên</a></li>
                    </ul>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarKhuyenMai" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 17px;font-weight: bold; margin: 0">
                      Khuyến mãi
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarKhuyenMai">
                      <li><a class="dropdown-item" href="#">Giảm giá </a></li>
                      <li><a class="dropdown-item" href="#">Tặng kèm</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarChamSocCa" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 17px;font-weight: bold; margin: 0">
                      Chăm sóc cá
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarChamSocCa">
                      <li><a class="dropdown-item" href="#">Dưỡng cá</a></li>
                      <li><a class="dropdown-item" href="#">Trị bệnh</a></li>
                    </ul>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="#" style="font-size: 17px;font-weight: bold; margin: 0">Liên hệ</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <div class="col-md-4 py-2" style="font-size: 13px">
          <div class="row">
            <div class="col-md-4">
              <div class="row">
                <div class="col-3 text-info fs-3">
                  <i class="fa-solid fa-phone-volume"></i>
                </div>
                <div class="col-9">
                  Tư vấn hỗ trợ<br>
                  <button class="btn" style="padding: 0px"><strong class="text-info">0817469555</strong></button>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-3 text-danger fs-3">
                  <i class="fa-regular fa-user"></i>
                </div>
                <div class="col-9">
                  Xin chào!<br>
                  <button class="btn" style="padding: 0px"><strong class="text-danger" routerLink="/login" (click)="scrollToTopLogin()">Đăng nhập</strong></button>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <a class="position-relative" routerLink="/orderDetail" (click)="scrollToTopLogin()">
                <span class="fs-2"><i class="fa-solid fa-cart-plus"></i></span>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    <span class="visually-hidden">unread messages</span>
  </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>



